.header {
    background-color: orange;
    color:royalblue;
    font-size:29px;
    text-align: center;
    padding: 10px;
}
ul {
    background-color: aquamarine;
    color:red;
    font-size:25px;
}